#! General
*~
~*
*.patch
*.diff
.env

#! Caches
.cache/

#! Generated
.config/generated/
.vscode/settings.json
.vscode/extensions.json
.config/mise.devcontainer.toml
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.devcontainer/post-create.sh
.devcontainer/post-start.sh
.vscode/mise-tools
package.spdx.json

#! Local Configs
.vscode/settings.local.jsonc

#! Builds
/build/
/release/
/dist/

#! Executables
*.exe
*.app
*.aab
*.apk
*.out
*.ipa

#! Temporary files
/debug/
/tmp/
*.log
*.tmp
*.bak
*.swp
*.cache
.history

#! OSX
# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
# Resource forks
._*

#! Windows
# MSVC Windows builds generate these, which store debugging information
*.pdb

#! Mise
.mise.*.local.toml
.mise.local.toml
mise.*.local.toml
mise.local.toml
.mise/*.local.toml
mise/*.local.toml

#! Pitchfork
pitchfork.local.toml

#! Fnox
fnox.local.toml

orb.yml

#! Caches
.lycheecache
.rumdl_cache

orb.yml
